
/* MainBlack #141726 */  

body{
    padding: 0;
    margin: 0;
    overflow: auto;
}

.webpageContainer{
    overflow: auto;
}

.star{
    position: absolute;
    border-radius: 50%;
    background-color: white;
}


/* First Page */
.frontPageContainer{
    display: block;
    width: 100%;
    height: 662px;
    background-color: #141726;
    font-family: 'Montserrat', bold;
    color: white;
}



#frontPageHeader{
    font-size: 4em;
    text-align: center;
    line-height: 600px;
    vertical-align: middle;
}

#myInfo{
    margin-top: -240px;
}

/*Second Page */
.projectsPageContainer{
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    margin-top: -1px;
    background-color: #191B26;
    border-color: none;
}

#projectsText{
    color: white;
    text-align: center;
    font-size: 3.5em;
    font-family: 'Montserrat', bold;
}


.flex-container {
  padding: 0;
  margin: 0;
  margin-top: 5%;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap{ 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border: none;
}

.wrap li {
  background: #141726;
}

.flex-item {
  padding: 5px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  font-family: 'Montserrat', bold;
}


/* Footer */
.footerContainer{
    display: block;
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: #141726;
    text-align: center;
}

.footerBtns{
    width: 60px;
    height: 90%;
    margin-top: 0.3%;
    background-color: #191B26;
    color: white;
    border: none;
    font-size: 40px;
    border-radius: 5px;
}


/* Navbar Customization */

.navbarContainer{
    position: absolute;
    width: 98%;
    margin-top: 1%;
    text-align: right;
}

li{
    display: inline;
    list-style-type: none;
}

.navbarLinkItems{
    padding-right: 28px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}



/* Details make perfect */

a:hover{
    color: grey;
}

/* Star animation */
.star {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.2; }
}




/* Media Queries*/

@media(max-width: 640px){
    .flex-item{
        font-size: 1em;
    }
}