/* I am short of breadth standing next to you. */

:root{
    --main-dark: #141726;
    --soft-dark: #191B26;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body{
    padding: 0;
    margin: 0;
    overflow: auto;
    font-family: 'Montserrat', bold;
}

.webpage-container{
    overflow: auto;
}

/* First Page */
.front-page-container{
    display: block;
    width: 100%;
    height: 662px;
    background-color: var(--main-dark);
    color: white;
}

#front-page-header{
    font-size: 4em;
    text-align: center;
    line-height: 600px;
    vertical-align: middle;
    font-weight: bold;
}

#my-info{
    margin-top: -240px;
}

.github-btn{
    width: 10%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    text-align: center;
    background-color: var(--soft-dark);
    color: white;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

/*Second Page */
.projects-page-container{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -1px;
    background-color: var(--soft-dark);
    border: none;
    overflow: auto;
}

.project-categories-container{
    width: 30%;
    margin-left: 10%;
    margin-top: 5%;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#project-categories-header, #project-names-header{
    color: white;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
}

#categories-ul, #projects-ul{
    margin-top: 2%;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.categories-btn{
    margin-top: 1%;
    font-family: 'Montserrat', bold;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.8em;
    font-weight: bold;
}

.categories-btn:hover{
    color: grey;
    cursor: pointer;
}

.project-names-container{
    position: absolute;
    top: 0;
    width: 50%;
    height: 80%;
    margin-top: 5%;
    margin-left: 48%;
    background-color: var(--main-dark)
}

.project-li{
    margin-top: 2%;
    font-size: 1.8em;
}

/* Footer section */
.footer-container{
    position: absolute;
    width: 100%;
    height: 50%;
    margin-top: 48%;
    background-color: var(--main-dark);
}

.footer-copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 3%;
    padding-bottom: 1%;
    color: white;
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
}

/* Details make perfect */

.github-btn:hover{
    color: grey;
}

a:hover{
    color: grey;
}

/* Media Queries*/

@media(max-width: 1024px){
    .flex-item{
        font-size: 1em;
    }
    
    .github-btn{
        width: 15%;
        padding-top: 1.2%;
        padding-bottom: 1.2%;
    }
}
