/* MainBlack #141726 */ 

:root{
    --main-dark: #141726;
    --soft-dark: #191B26;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


body{
    padding: 0;
    margin: 0;
    overflow: auto;
    font-family: 'Montserrat', bold;
}

.webpage-container{
    overflow: auto;
}

/* First Page */
.front-page-container{
    display: block;
    width: 100%;
    height: 662px;
    background-color: var(--main-dark);
    font-family: 'Montserrat', bold;
    color: white;
}

#front-page-header{
    font-size: 4em;
    text-align: center;
    line-height: 600px;
    vertical-align: middle;
    font-weight: bold;
}

#my-info{
    margin-top: -240px;
}

.github-btn{
    width: 10%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    text-align: center;
    background-color: var(--soft-dark);
    color: white;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

/*Second Page */
.projects-page-container{
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    margin-top: -1px;
    background-color: var(--soft-dark);
    border-color: none;
    overflow: auto;
}

#projects-text{
    color: white;
    text-align: center;
    font-size: 3.5em;
}

.projects-url{
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
}

.projects-url-item{
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

a{
    color: white;
    text-decoration: none;
}

/* Details make perfect */

.project-a:hover{
    color: grey;
}

.projects-url-item:hover{
    background-color: var(--main-dark);
}

.github-btn:hover{
    color: grey;
}

/* Media Queries*/

@media(max-width: 1024px){
    .flex-item{
        font-size: 1em;
    }
    
    .github-btn{
        width: 15%;
        padding-top: 1.2%;
        padding-bottom: 1.2%;
    }
}