/* Navbar Customization */

.navbar-container{
    position: absolute;
    width: 98%;
    margin-top: 1%;
    text-align: right;
}

.nav-item{
    display: inline;
}

.navbar-link-items{
    padding-right: 28px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

li{
    list-style-type: none;
}